//** Theme 1 **//

// Backgrounds
$main-dark-blue: hsl(222, 26%, 31%);
$toggle-dark-blue: hsl(223, 31%, 20%);
$screen-dark-blue: hsl(224, 36%, 15%);

// Keys
$key-background-dark-blue: hsl(225, 21%, 49%);
$key-shadow-dark-blue: hsl(224, 28%, 35%);

$key-background-toggle-red: hsl(6, 63%, 50%);
$key-shadow-dark-red: hsl(6, 70%, 34%);

$key-background-light-orange : hsl(30, 25%, 89%);
$key-shadow-grayish-orange: hsl(28, 16%, 65%);

// Text
$text-very-dark-blue: hsl(221, 14%, 31%);
$white-color: hsl(0, 0, 100%);

//** Theme 2 **//

// Backgrounds
$main-light-gray: hsl(0, 0%, 90%);
$toggle-grayish-red: hsl(0, 5%, 81%);
$screen-light-gray: hsl(0, 0%, 93%);

// Keys
$key-background-dark-cyan : hsl(185, 42%, 37%);
$key-shadow-dark-cyan: hsl(185, 58%, 25%);

$key-background-toggle-orange : hsl(25, 98%, 40%);
$key-shadow-dark-orange : hsl(25, 99%, 27%);

$key-background-light-yellow : hsl(45, 7%, 89%);
$key-shadow-grayish-orange: hsl(35, 11%, 61%);

// Text
$text-dark-grayish-yellow: hsl(60, 10%, 19%);
$white-color: hsl(0, 0, 100%);


//** Theme 3 **//

// Backgrounds
$main-dark-violet : hsl(268, 75%, 9%);
$toggle-dark-violet : hsl(268, 71%, 12%);

// Keys
$key-background-dark-violet : hsl(281, 89%, 26%);
$key-shadow-dark-magenta : hsl(285, 91%, 52%);

$key-background-toggle-cyan : hsl(176, 100%, 44%);
$key-shadow-soft-cyan : hsl(177, 92%, 70%);

$key-background-dark-violet : hsl(268, 47%, 21%);
$key-shadow-dark-magenta: hsl(290, 70%, 36%);


// Text
$text-light-yellow: hsl(52, 100%, 62%);
$text-dark-blue: hsl(198, 20%, 13%);
$white-color: hsl(0, 0, 100%);


