$very-light-blue-color: hsl(240, 78%, 98%);
$light-gray-blue-color: hsl(234, 14%, 74%);
$gray-blue-color: hsl(233, 13%, 49%);
$dark-gray-blue-color: hsl(232, 13%, 33%);
$blue-background-color-on: dodgerblue;