@import url(https://fonts.google.com/specimen/Montserrat);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

body {
  background-color: #f6f6fe;
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

header h1 {
  font-size: 30px;
  margin: 60px 0 30px;
  text-align: center;
  color: #6d708d;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat, sans-serif;
  color: #b3b5c6;
  margin-bottom: 50px;
}

header div > *:not(.last-child) {
  margin-right: 20px;
}

header .toggleBtn {
  width: 50px;
  height: 27.5px;
  position: relative;
  border: none;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

header .toggleBtn:hover {
  opacity: 0.5;
}

header .toggleBtn::after {
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  right: 3.5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: white;
}

header .toggleBtn.checked::after {
  -webkit-transform: translate(-22px, -50%);
          transform: translate(-22px, -50%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pricing-cards .cards {
  padding: 20px;
  height: 400px;
  width: 300px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: white;
}

.pricing-cards .cards:nth-of-type(1) {
  border-radius: 10px 0 0 10px;
}

.pricing-cards .cards:nth-of-type(2) {
  border-radius: 10px;
}

.pricing-cards .cards:nth-of-type(3) {
  border-radius: 0 10px 10px 0;
}

.pricing-cards .cards h3 {
  color: #6d708d;
  margin: 10px 0 20px;
}

.pricing-cards .cards .boxLine {
  padding: 16px 0;
  border-top: 0.05px solid #b3b5c6;
  font-size: 13.5px;
  letter-spacing: 0.5px;
}

.pricing-cards .cards .boxLine:last-of-type {
  border-bottom: 0.05px solid #b3b5c6;
}

.pricing-cards .cards .boxPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 30px;
  font-size: 50px;
  font-weight: 700;
  color: #494c5f;
}

.pricing-cards .cards .boxPrice .priceDollar {
  font-size: 30px;
}

.pricing-cards .cards a {
  display: block;
  margin-top: 20px;
  padding: 11px 0;
  border-radius: 5px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
}

.pricing-cards .cards a:hover {
  outline: 1px solid #494c5f;
  color: #696fdd;
  background-image: none;
  background-color: transparent;
}

.pricing-cards .middle-box {
  height: 450px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to bottom, #a3a8f0, #696fdd);
}

.pricing-cards .middle-box h3 {
  padding-top: 20.5px;
}

.pricing-cards .middle-box h3, .pricing-cards .middle-box .boxPrice, .pricing-cards .middle-box .boxLine {
  color: white;
}

.pricing-cards .middle-box a {
  color: #696fdd;
  background-image: none;
  background-color: white;
}

.pricing-cards .middle-box a:hover {
  outline-color: white;
  color: white;
  background-color: transparent;
}
/*# sourceMappingURL=styles.css.map */