$white-color: rgb(254, 254, 255);
$light-color: rgba(255, 250, 248, 255);
$dark-color: rgb(47, 55, 66);
$dark-blue-color: rgba(22, 81, 107, 255);
$yellow-color: rgba(249, 242, 181, 255);
$pink-color: rgba(248, 219, 215, 255);
