$white-color: rgb(254, 254, 255);
$light-color: rgba(255, 250, 248, 255);
$gray-color: hsl(210, 4%, 67%);
$yellow-color: rgba(249, 242, 181, 255);
$pink-color: rgba(248, 219, 215, 255);
$cyan-color: #93d4c4;
$dark-color: rgb(47, 55, 66);
$dark-gray-color: hsl(213, 9%, 39%);
$dark-blue-color: rgba(22, 81, 107, 255);
$dark-cyan-color: hsl(167, 40%, 24%);
$blue-color: #6eceff;

