@import 'reset';
@import 'variables';
@import 'mixins';
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
@use "sass:lint";

.arrow-down {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.creative-content{
    background: url("../images/desktop/image-header.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 720px;
    padding: 25px 70px 140px;
    color: $white-color;
    font-family: Barlow, sans-serif;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav{
        
        li{
            display: inline-block;
            font-family: Barlow, sans-serif;
            font-size: 17px;
            padding: 10px;
        }

        li:not(:last-child)
        {
            margin-right: 75px;
            margin-left: 10;
        }

        li:hover{
            border-radius: 30px;
            background: $blue-color;
            font-weight: 600;
            text-transform: uppercase;
            font-family: 'Barlow', serif;
            font-size: 16px;
            padding: 10px;
            cursor: pointer;
        }
    }

    h1{
        width: 50%;
        margin: 5% auto;        
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        font-size: 55px;
        font-family: Fraunces, sans-serif;
    }
}

.middle-section-content{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    
    div{
        height: 500px;
    }

    div:first-of-type,
    div:nth-child(4){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $light-color;


        h2{
            font-size: 40px;
        }

        &>p, &>h2, &>a {
            width: 55%;
            padding: 30px 10px;
            text-decoration: none;
            font-family: Fraunces, sans-serif;
        }

        a{
            color: $dark-color;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    div:nth-child(2){
        background: url('../images/desktop/image-transform.jpg') no-repeat center;
        background-size: cover;
        
    }

    div:nth-child(3) {
        background: url('../images/desktop/image-stand-out.jpg') no-repeat center;
        background-size: cover;
    }

    div:nth-child(5) {
        background: url('../images/desktop/image-graphic-design.jpg') no-repeat center top;
        background-size: cover;
        @include flexDisplay;

        &>p {
            width: 50%;
            padding: 30px 20px;
            text-align: center;
            font-family: Fraunces, sans-serif;
        }
    }

    div:nth-child(6) {
        background: url('../images/desktop/image-photography.jpg') no-repeat center top;
        background-size: cover;
        @include flexDisplay;
        
        &>p {
            width: 50%;
            padding: 30px 20px;
            text-align: center; 
            font-family: Fraunces, sans-serif;
        }
    }

    h3 {
        color: $dark-blue-color;
        width: 80%;
        font-size: 30px;
        text-align: center;
    }
}

.testimonials{
    background-color: $light-color;
    padding: 140px;

    .testimonials-content{
        display: flex;
    }

    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 30px;
        
        img{
            width: 80px;
            height: 80px;
            margin: 50px 0;
            border-radius: 50%;
        }

        p{
            width: 100%;
            margin: 25px 0 50px;
            text-align: center;
            letter-spacing: 1px;
            color: $dark-gray-color;
            font-family: Barlow, sans-serif;
            font-weight: 600;
        }

        h5{
            padding: 5px 0;
            color: darkgray;
        }
    }


    & > h2 {
        margin: 0 auto;
        color: $gray-color;
        letter-spacing: 4px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        font-family: Fraunces, sans-serif;
    }
}

.image-container{
    display: flex;
    width: 100%;

    div{
        height: 500px;
        width: 100%;
    }

    $images: 'gallery-milkbottles', 'gallery-orange', 'gallery-cone', 'gallery-sugarcubes';

    @each $idx in $images {

        $i: index($images, $idx);

        div:nth-child(#{$i}) {
            background: url("../images/desktop/image-#{$idx}.jpg") no-repeat center;
            background-size: cover;
            
        }
    }
}

footer{
    background-color: $cyan-color;
    color: $dark-cyan-color;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
        display: flex;
        flex-direction: row;
        margin: 20px 20px 0;

        i{
            margin: 50px 15px 0;
        }
    }

    img{
        color: $dark-cyan-color;
        padding: 10px 0 30px;
    }

    ul{
        display: flex;
        flex-direction: row;
        font-family: Barlow, sans-serif;
        font-weight: 600;

        li{
            margin: 0 25px;
        }
    }
}