@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
}

@use "sass:lint";
.arrow-down {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  cursor: pointer;
}

.creative-content {
  background: url("../images/desktop/image-header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
  padding: 25px 60px 120px;
  color: #fefeff;
  font-family: Barlow, sans-serif;
}

.creative-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creative-content nav li {
  display: inline-block;
  font-family: Barlow, sans-serif;
  font-size: 17px;
  padding: 10px;
}

.creative-content nav li:not(:last-child) {
  margin-right: 45px;
}

.creative-content nav li:hover {
  border-radius: 30px;
  background: #6eceff;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Barlow', serif;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.creative-content h1 {
  width: 100%;
  padding-top: 15px;
  margin: 5% auto;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  font-family: Fraunces, sans-serif;
}

.creative-content .nav-hamburger {
  display: none;
}

.middle-section-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.middle-section-content div {
  height: 500px;
}

.middle-section-content div:first-of-type,
.middle-section-content div:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fffaf8;
}

.middle-section-content div:first-of-type h2,
.middle-section-content div:nth-child(4) h2 {
  font-size: 40px;
}

.middle-section-content div:first-of-type > p, .middle-section-content div:first-of-type > h2, .middle-section-content div:first-of-type > a,
.middle-section-content div:nth-child(4) > p,
.middle-section-content div:nth-child(4) > h2,
.middle-section-content div:nth-child(4) > a {
  width: 55%;
  padding: 30px 10px;
  text-decoration: none;
  font-family: Fraunces, sans-serif;
}

.middle-section-content div:first-of-type a,
.middle-section-content div:nth-child(4) a {
  color: #2f3742;
  text-transform: uppercase;
  font-weight: 700;
}

.middle-section-content div:nth-child(2) {
  background: url("../images/desktop/image-transform.jpg") no-repeat center;
  background-size: cover;
}

.middle-section-content div:nth-child(3) {
  background: url("../images/desktop/image-stand-out.jpg") no-repeat center;
  background-size: cover;
}

.middle-section-content div:nth-child(5) {
  background: url("../images/desktop/image-graphic-design.jpg") no-repeat center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section-content div:nth-child(5) > p {
  width: 50%;
  padding: 30px 20px;
  text-align: center;
  font-family: Fraunces, sans-serif;
}

.middle-section-content div:nth-child(6) {
  background: url("../images/desktop/image-photography.jpg") no-repeat center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section-content div:nth-child(6) > p {
  width: 50%;
  padding: 30px 20px;
  text-align: center;
  font-family: Fraunces, sans-serif;
}

.middle-section-content h3 {
  color: #16516b;
  width: 80%;
  font-size: 30px;
  text-align: center;
}

.testimonials {
  background-color: #fffaf8;
  padding: 120px;
}

.testimonials .testimonials-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 15px;
}

.testimonials article img {
  width: 80px;
  height: 80px;
  margin: 50px 0;
  border-radius: 50%;
}

.testimonials article p {
  width: 100%;
  margin: 25px 0 50px;
  text-align: center;
  letter-spacing: 1px;
  color: #5a636c;
  font-family: Barlow, sans-serif;
  font-weight: 600;
}

.testimonials article h5 {
  padding: 5px 0;
  color: darkgray;
}

.testimonials > h2 {
  margin: 0 auto;
  color: #a7abae;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  font-family: Fraunces, sans-serif;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.image-container div {
  height: 500px;
  width: 100%;
}

.image-container div:nth-child(1) {
  background: url("../images/desktop/image-gallery-milkbottles.jpg") no-repeat center;
  background-size: cover;
}

.image-container div:nth-child(2) {
  background: url("../images/desktop/image-gallery-orange.jpg") no-repeat center;
  background-size: cover;
}

.image-container div:nth-child(3) {
  background: url("../images/desktop/image-gallery-cone.jpg") no-repeat center;
  background-size: cover;
}

.image-container div:nth-child(4) {
  background: url("../images/desktop/image-gallery-sugarcubes.jpg") no-repeat center;
  background-size: cover;
}

footer {
  background-color: #93d4c4;
  color: #25564b;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 20px 0;
}

footer div i {
  margin: 50px 15px 0;
}

footer img {
  color: #25564b;
  padding: 10px 0 30px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Barlow, sans-serif;
  font-weight: 600;
}

footer ul li {
  margin: 0 25px;
}

@media screen and (max-width: 730px) {
  .creative-content .nav-ul {
    display: none;
    position: absolute;
    top: 15%;
    left: 55%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .creative-content .nav-ul li:hover {
    background-color: #ffee00;
    text-transform: uppercase;
    color: black;
  }
  .creative-content .nav-ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .creative-content h1.remove {
    display: none;
  }
  .creative-content .nav-hamburger {
    display: block;
    cursor: pointer;
  }
  .middle-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .testimonials-content {
    display: block;
  }
  .testimonials p {
    width: 100%;
  }
  .image-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */